# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [28]:
import pandas as pd
import os

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

In [29]:
file = ''.join([i for i in os.listdir() if i.startswith('student')])

### Step 3. Assign it to a variable called df.

In [30]:
df = pd.read_csv(file)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [31]:
df = df.loc[:, 'school':'guardian']

### Step 5. Create a lambda function that will capitalize strings.

In [32]:
capitalizer = lambda x: x.str.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [33]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].apply(capitalizer)

### Step 7. Print the last elements of the data set.

In [34]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [41]:
def majority(x):
    return True if x > 17 else False

df['legal_drinker'] = df['age'].apply(majority)

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [42]:
df = df.apply(lambda x: x*10 if pd.api.types.is_numeric_dtype(x) else x)