# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'

### Step 3. Assign it to a variable called baby_names.

In [3]:
baby_names = pd.read_csv(url)

### Step 4. See the first 10 entries

In [4]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [5]:
baby_names = baby_names.iloc[:, 2:]

### Step 6. Is there more male or female names in the dataset?

In [6]:
baby_names['Gender'].value_counts(normalize=True)

Gender
F    0.549832
M    0.450168
Name: proportion, dtype: float64

### Step 7. Group the dataset by name and assign to names

In [29]:
names = baby_names.groupby('Name')

### Step 8. How many different names exist in the dataset?

In [8]:
len(names)

17632

### Step 9. What is the name with most occurrences?

In [72]:
names['Name'].count().idxmax()

'Riley'

### Step 10. How many different names have the least occurrences?

In [80]:
name_count = names['Name'].count()
len(name_count[name_count == name_count.min()])

3682

### Step 11. What is the median name occurrence?

In [78]:
name_count[name_count == name_count.median()]

Name
Abubakar    8
Adelie      8
Adira       8
Adylene     8
Aerial      8
           ..
Zamaya      8
Zanaya      8
Zari        8
Zaylie      8
Zyanna      8
Name: Name, Length: 360, dtype: int64

### Step 12. What is the standard deviation of names?

In [83]:
name_count.std()

122.02996350814125

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [27]:
baby_names['Count'].describe()

count    1.016395e+06
mean     3.485012e+01
std      9.739735e+01
min      5.000000e+00
25%      7.000000e+00
50%      1.100000e+01
75%      2.600000e+01
max      4.167000e+03
Name: Count, dtype: float64