# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [4]:
#We consider a product based on the item_name and we don't take into account the choice_description

In [5]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

In [6]:
chipo.loc[chipo['item_price'] > 10, 'item_name'].nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [8]:
print(chipo.loc[chipo['item_price'] > 10, ['item_name', 'item_price']])

               item_name  item_price
4           Chicken Bowl       16.98
5           Chicken Bowl       10.98
7          Steak Burrito       11.75
13          Chicken Bowl       11.25
23       Chicken Burrito       10.98
...                  ...         ...
4610       Steak Burrito       11.75
4611      Veggie Burrito       11.25
4617       Steak Burrito       11.75
4618       Steak Burrito       11.75
4619  Chicken Salad Bowl       11.25

[1130 rows x 2 columns]

### Step 6. Sort by the name of the item

In [9]:
print(chipo.loc[chipo['item_price'] > 10, ['item_name', 'item_price']].sort_values('item_name'))

              item_name  item_price
3389  6 Pack Soft Drink       12.98
1643      Barbacoa Bowl       11.75
919       Barbacoa Bowl       11.75
3547      Barbacoa Bowl       11.75
4510      Barbacoa Bowl       11.49
...                 ...         ...
186   Veggie Salad Bowl       11.25
295   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos       16.98
738   Veggie Soft Tacos       11.25
1699  Veggie Soft Tacos       11.25

[1130 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [15]:
chipo.loc[:, ['quantity', 'item_name', 'item_price']].sort_values('item_price', ascending=False).head(1)

      quantity                     item_name  item_price
3598        15  Chips and Fresh Tomato Salsa       44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [24]:
chipo.loc[chipo['item_name'] == 'Veggie Salad Bowl', 'item_name'].count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [27]:
len(chipo.loc[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)])

20